<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.springframework.ide.eclipse.ui.views"
            class="org.springframework.ide.eclipse.beans.ui.livegraph.views.LiveBeansGraphView"
            id="org.springframework.ide.eclipse.beans.ui.livegraph.views.LiveBeansGraphView"
            icon="icons/live-beans-graph.png"
            name="Live Beans Graph"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.springframework.ide.eclipse.beans.ui.livegraph.views.LiveBeansHtml5View"
            default="false"
            icon="icons/live-beans-graph.png"
            id="org.springframework.ide.eclipse.beans.ui.livegraph.editor"
            name="Live Beans Graph">
      </editor>
   </extension>
   <extension
         point="org.springsource.ide.browser.function.browserToEclipse">
      <function
            class="org.springframework.ide.eclipse.beans.ui.livegraph.views.OpenBeanFunction"
            id="openBean"
            urlExpression=".*liveBeans.*\.html">
      </function>
   </extension>
</plugin>
